p:hover {
    color: red;
    text-decoration: none;

}
.hover p:hover {
    color: red;
    text-decoration: none;

}
.meu_icone:hover {
    color: red;
    text-decoration: none;

}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.img_hover:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

